<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>GrandPy</title>
    </head>
    <body>
        <form method="post" action="">
            <p>
                <label for="myInput">Tapez votre question</label>
                <input type="text" id = "myInput" maxlength="200"/>
                <button type="button" onclick="getInputValue();">Get Value</button>     
        </p>
        
        <script src="static/script.js"></script>
    </form>
    </body>
</html>