<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPy</title>
    <link href="static/style.css" rel="stylesheet" media="all" type="text/css">     
  </head>
  <body>
    <header class="msger-header">
      <h1>GRANDPY LE PAPY BOT</h1>
       <div class="msger-header-title">
       <i class="fas fa-comment-alt"></i> 
       </div>
       <div class="msger-header-options">
       <span><i class="fas fa-cog"></i></span>
     </div>
   </header>

    <section class="msger">  
    <main class="msger-chat">
      <div class="msg left-msg">                
        <div onload="initMap()"></div>        
        </div>
                   
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">GRANDPYBOT</div>
            <div class="msg-info-time">12:45</div>
          </div>
  
          <div class="msg-text">
            Bonjour et bienvenue, quelle adresse recherches-tu? 😄
          </div>

        </div>
      </div>
                    
    </main>
      
    <form class="msger-inputarea">
      <input type="text" class="msger-input" name="msgerInput" placeholder="Entrez votre message...">
      <button type="submit" class="msger-send-btn">Send</button>    
    </form>    
  
  </section>

  <footer>
    <p class="main_footer">
      <p>Site créé par Fadia Medja</p>  
      <p>Vous trouverez <a href="https://github.com/Fadia04/GrandPy">ici</a> le code source de ce projet.</p>
    </p>           
  </footer>
   
   <script src="static/script.js"></script>
   <script type="text/javascript" async defer
         src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
    <style scoped>
        #map{height:300px;
        width: 100%}
    </style>
</body>
</html>
   
